<main>
  <h1><%= @user.username %>'s Profile Page</h1>

  <p><%= link_to "View Published Articles", "/users/#{@user.id}" %></p>

  <h3>Current Drafts:</h3>
  <ul>
    <% @user.current_draft_versions.each do |version| %>
      <li><%= link_to "#{version.title}", article_version_path(version.article, version) %></li>
    <% end %>
  </ul>
</main>


