<main>
  <h1><%= @user.username %>'s Profile Page</h1>
  <p><%= link_to "View Drafts", "/users/#{@user.id}/drafts" %></p>
  <h3>Published Articles:</h3>
  <ul>
    <% @user.published_versions.each do |version| %>
      <li><%= link_to "#{version.title}", article_version_path(version.article, version) %></li>
    <% end %>
  </ul>
</main>
