<h3>Featured Article:</h3>
<% @featured_article %>
<h2><%= link_to @featured_article[:title], article_version_path(@featured_article.article, @featured_article) %></h2>
<%= image_tag @featured_article[:photo_url], class: "featured-photo" %>
