

<aside><%= render @categories %></aside>
<main>
  <div class="feature"><%= render partial: "feature", object: @featured_article %></div>
  <div class="recent-articles"><ul><%= render @recent_articles %></ul></div>
</main>

