<li>
  <div><%= link_to version.title, article_version_path(version.article_id, version.id), class: "version-title" %></div>
  <div><%= image_tag version.photo_url, class: "version-photo" %></div>
</li>
