<main>
  <ul>
    <% @versions.each do |version| %>
      <li>
       <%= image_tag version.photo_url, class: "version-photo" %>
        <%= link_to version.title, article_version_path(version.article, version), class: "version-title" %>
      </li>
    <% end %>
  </ul>
</main>
